* {
  outline: 0;
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: black;
}
img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}
h1,
h2,
h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
}
h2 {
  font-size: 19px;
  line-height: 23px;
}
h3 {
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
}
ul,
li {
  list-style-type: none;
}
label {
  display: block;
  margin-bottom: 5px;
}
input {
  display: block;
  width: 320px;
  height: 44px;
  padding: 10px;
  background: #ffffff;
  border: 2px solid rgba(31, 32, 65, 0.25);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
}
.header-section {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  padding-bottom: 24px;
  background: #353535;
}
.inner-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
}
.nav-menu li {
  margin-right: 70px;
}
.nav-menu li:last-child {
  margin-right: 0px;
}
.nav-link {
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  color: #ffffff;
}
.nav-link:hover {
  color: #ff9557;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.main-title {
  padding-top: 100px;
  font-size: 96px;
  color: #ffffff;
  font-weight: 600;
  line-height: 1.2;
  text-align: center;
}
.content {
  width: 1140px;
  margin: 0 auto;
  margin-bottom: 40px;
}
.room-title {
  margin-bottom: 10px;
  text-align: center;
}
.room-section {
  padding-top: 60px;
}
.room-section_title {
  text-align: center;
  color: white;
  margin-bottom: 60px;
}
.available-rooms {
  display: grid;
  grid-gap: 120px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin-bottom: 30px;
}
.page-link {
  cursor: pointer;
}
.room-card {
  background-color: #fff;
  text-align: center;
  border: 2px solid lightsteelblue;
  padding: 10px 0;
  border-radius: 10px;
}
.room-image {
  margin-bottom: 15px;
}
.room-facilities {
  margin-bottom: 10px;
}
.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.page-item {
  margin-right: 8px;
  margin-left: 8px;
  background-color: #f9ad81;
  border-radius: 50%;
}
.page-item:active {
  background-color: #ff9557;
}
.page-item a {
  padding: 8px 16px;
  background-color: #f9ad81;
  border-radius: 50%;
}
.page-item:hover {
  border-radius: 50%;
  opacity: 0.5;
  background: #f9ad81;
}
.form-section {
  width: 600px;
  margin: 120px auto 90px;
  padding: 35px;
  -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
          box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}
.login-form {
  max-width: 320px;
  margin: 0 auto;
}
.login-form a {
  font-weight: normal;
  color: #135bdc;
  cursor: pointer;
}
.login-form a:hover {
  color: #749be3;
}
.login-form_title {
  text-align: center;
  margin-bottom: 20px;
}
.login-form_text {
  margin-top: 10px;
}
.form-input {
  margin-bottom: 15px;
}
.invalid-input_message {
  font-size: 10px;
  font-weight: normal;
  margin-top: 3px;
  color: red;
}
.invalid-input {
  border: 2px solid #fa5353;
}
.input-group {
  position: relative;
}
.footer {
  padding-top: 60px;
  padding-bottom: 40px;
  background-color: #353535;
  text-align: center;
  color: white;
}
.footer-title {
  margin-bottom: 10px;
}
.footer-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: left;
}
.footer-logo img {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 10px;
}
.footer-input_email {
  margin-bottom: 10px;
}
.btn {
  margin-right: 10px;
  padding-right: 20px;
  padding-left: 20px;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 400;
  height: 44px;
  color: #ffffff;
  background-color: #f9ad81;
  border-radius: 22px;
  border: none;
  cursor: pointer;
}
.btn:hover {
  background: #ffbf9a;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.btn:disabled {
  background: #faceb6;
  cursor: auto;
}
.btn-big {
  width: 200px;
}
.btn-book-now {
  margin-right: 0;
}
.btn-login-form {
  display: block;
  margin: 0 auto;
}
.btn-show-password {
  position: absolute;
  width: 55px;
  height: 35px;
  right: 0;
  top: 0;
  bottom: 0;
  -webkit-transform: translate(-3px, 4px);
          transform: translate(-3px, 4px);
  border-radius: 5px;
  background-color: #cfdcec;
  cursor: pointer;
}
/*# sourceMappingURL=main.css.map */